whitetext{
    text-emphasis-color: white;
}
#intro {
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 4em;
    text-align: center;
    height: 500px;
   
  }
.icon{
    width:40px;
    height:40px;
    transition:  .3s ease;
    opacity: .5;
}

a:hover{
    text-decoration: none;
}

.icon:hover{
    opacity: 1;
}

#about{
    background-color: rgba(250, 245, 245, 0.788);
}

.header {
    font-size: 3em;
    margin: 0;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
    position: relative;
    font-weight: 700;
}

body{ 
    opacity:0;
    transition: ease-in-out .75s;
    -webkit-transition: ease-in-out .75s; /* Safari */
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.ct {
    width: 100%; /* Full width */
    background-color: rgb(238, 237, 237); /* Grey background */
    border-radius: 9px;
}

.skill {
    text-align: center; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
    border-radius: 9px;
    /*
    animation-name: skillanimation;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
    animation: cssProgressActive 2s linear infinite;
    background-size: 35px 35px;
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    opacity: .65;
}

@-webkit-keyframes cssProgressActive {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }

@keyframes cssProgressActive {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }
td{
    padding: 10px;
}
.project_screenshots{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.3s ease;
}

.project_screenshots:hover {
    opacity: 0.7;
}

#projects{
    background-color:rgb(243, 240, 230);
}
